* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    width: 100vw;

}

nav {
    height: 70px;
    width: 100%;
    display: flex;
    gap: 14%;
}

#navleft {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 150px;
    cursor: pointer;
}

nav img {
    height: 40%;
    padding-right: 20px;
}

#navright {
    height: 100%;
    width: 40%;
    display: flex;
    cursor: pointer;
}

ul {
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#inrlogo {
    display: flex;
}

#inrlogo img {
    padding-left: 8px;
    height: 15px;
}

header {
    height: 100vh;
    width: 100vw;
}

#hero-container {
    height: 100%;
    width: 100%;
    background-color: rgb(227, 227, 227);
}

#hero {
    position: relative;
    height: 54%;
    width: 100%;
    display: block;
}

#hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#herotop {
    position: absolute;
    transform: translate(14%, -130%);
    border-radius: 15px;
    height: 35%;
    width: 80%;
    background-color: white;

}


.heroimg {
    height: 50px;
    width: 100px;
}

#heroicons{
    height:50% ;
    width: 100%;
    border-bottom: 1px solid grey; 
    display: flex;
    flex-direction: column;  
}

#heroicons-img{
    padding-top: 25px;
    width:100%;
    justify-content: center;

}

#heroicons-text{
    justify-content: center;
    gap: 60px;
}

#herobottom{
    height: 18%;
    width: 100%;
    display: flex;
    padding-top: 23px;
    justify-content: space-evenly;
}

.heroinputs{
    height: 100%;
    width: 25%;
    border: 1px solid black;
    border-radius: 11px;
    cursor: pointer;
}

.heroinputs input{
    height: 40%;
    width: 50%;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 12px;cursor: pointer;
}

.heroinputs i{
    padding-left: 5px;
}

#herobutton{
    height: 100%;
    width: 80px;
    border-radius: 30px;
    background-color: #1668e3;
    cursor: pointer;

}

#herobutton button{
    color:white;
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin: 15px;
}

#end{
    width: 10%;
    display: flex;
    margin: 20px;
    gap: 10px;
    font-size: medium;
    cursor: pointer;
}

.last-minute{
    width: 80%;
    margin-left: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#last-minutebtn{
    border: 1px solid grey;
    height: 30px;
    width: 120px;
    border-radius: 21px;
}

#last-minutebtn button{
    background-color: transparent;
    font-size: 15px;
    color: #1668e3;
    border: none;
    margin-top: 8px;
    margin-left: 15px;
}

.hotel-deal{

    border: 1px solid grey;
    height: 95%;
    width: 25%;
    border-radius: 11px;
    display: flex;
    background-color: white;
}

#hotel-main{
    display: flex;
    height: 200px;
    width: 100%;
    gap: 100px;
    margin-left: 100px;
}

.maindeal{
    display: flex;
}

.maindeal img {
    height: 99%;
    width: 100%;
    border-radius: 11px;
}

.maindeal1{
    margin: 10px;
}

.maindeal button{
    font-size: 11px;
}

